.filters {
    color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD solid;
    display: inline-block;
}
.locations h3{
    font-weight: 600;
    font-size: 14px;
    position: relative;
    left: 22%;
}
.locations h4{
    font-weight: 400;
    font-size: 14px;
    position: relative;
    left: 22%;
    bottom: 10px;
}
.amenities {
    height: 100%;
    width: 25%;
    position: relative;
    left: 5%;
}
.amenities h3{
    font-weight: 600;
    font-size: 14px;    
}
.amenities h4{
    font-weight: 400;
    font-size: 14px;
    position: relative;
    bottom: 10px;
}